body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
    background-color: #e7c6ff;
}


span {
    margin-left: 30px;
    margin-top: 30px;
}

h1 {
    background-color: blueviolet;
    width: 150px;
    padding-left: 100px;
    padding-top: 50px;
    margin: 0;
}

#one {
    background-color: #fff0f3;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #ffccd5;
    border-color: #590d22;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #ff8fa3;
    border: 4px solid #590d22;
    border-left-width: 8px;
    border-radius: 10px;
}

button {
    padding: 0 20px 40px 60px ;
}