* {
    color: pink;
    background-color: fdfcdc;
}

button {
    font-size: 30px;
}

h1, h2 {
    color: darkcyan;
}

#signup {
    background-color: #ffd6ff;
    color: #bbd0ff;
}

.tag {
    background-color: #c8b6ff;
    color: #bbd0ff;
    font-size: 16px;
}

span {
    color: #b8c0ff;
}

.post a {
    color: darkcyan;
}

li a {
    color: #ff758f;
}

input + button {
    background-color: pink;
    color: black;
}

h2 + button {
    font-size: 20px;
    background-color: magenta;
}

footer a {
    color: aqua;
}

footer > a {
    color: red;
}