* {
    color: pink;
    background-color: salmon;
}

button {
    font-size: 30px;
}

h1, h2 {
    color: darkcyan;
}

#signup {
    background-color: #ffd6ff;
    color: #bbd0ff;
}

.tag {
    background-color: #c8b6ff;
    color: #bbd0ff;
    font-size: 16px;
}